.marketCard{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative; /* Add this */
    overflow: hidden; /* Ensures labels don't overflow the card */
}
.marketCard:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.car{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    
}
.car:hover{
    transform: scale(110%);
    transition-duration: 1s;
    width: 100%;
    /* height: 270px; */
}
.carLable {
    position: absolute;
    top: 10px; /* Adjust to position the label from the top of the image */
    left: 20px; /* Adjust to position the label from the left of the image */
    color: white;
    /* Optional: add background for better readability */
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.offerLabel {
    position: absolute;
    top: 50px; /* Adjust to position the second label below the first one */
    left: 20px;
    color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}
