.marketCard{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative; 
    overflow: hidden; 
}
.marketCard:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.car{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    
}
.car:hover{
    transform: scale(110%);
    transition-duration: 1s;
    width: 100%;

}
.carLable {
    position: absolute;
    top: 10px; 
    left: 20px; 
    color: white;
   
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.offerLabel {
    position: absolute;
    top: 50px; 
    left: 20px;
    color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}
.newProducts,.renewedProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
}
